@font-face {
	font-family: 'FZHLJW';
	src: url('../font/FZHLJW.TTF');
}

body {
	background: #f9f9f9;
}

.work {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	height: 350px;
	margin-top: 200px;
}

.work li {
	width: 21%;
	margin-right: 2%;
	margin-bottom: 30px;
	height: 250px;
	float: left;
	list-style: none;
	background: white;
	padding: 5%;
	font-family: FZHLJW;
	font-size: 32px;
	cursor: pointer;
	transition-duration: 1s;
}

.work li:hover {
	box-shadow: 0px 0px 20px LightGrey;
}

.work li p:nth-child(2) {
	width: 50px;
	margin-top: 80px;
	border: 1px solid orange;
}

.work li p:nth-child(3) {
	margin-top: 20px;
	font-size: 18px;
	color: DarkGray;
}

.work li p:nth-child(4) {
	margin-top: 10px;
	font-size: 18px;
	color: DarkGray;
}