* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
	font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
	color: #333;
	background: #F2F3EE;
}

#container,
.section {
	height: 100%;
	position: relative;
}

.one {
	height: 230px;
	width: 100%;
	list-style: none;
}

.one li {
	height: 230px;
	float: left;
}

.one li:nth-child(1) {
	width: 175px;
}

.one li:nth-child(2) {
	margin-left: 50px;
	width: 500px;
}
.one li:nth-child(3) {
	margin-left: 210px;
}

.one li:nth-child(2) p {
	font-size: 16px;
	margin-top: 75px;
	text-indent:2em;
}

.renwu {
	width: 175px;
	height: 230px;
	overflow: hidden;
}

.renwu img {
	width: 100%;
	height: 100%;
}
.head {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}
.two{
	margin-top: 100px;
	width: 100%;
}
.two li{
	float: left;
	width: 250px;
	margin-right: 20px;
}
